.archive-item-category-item {
  font-size: 12px;
  color: #fff;
  background: rgba(111,129,219,0.6);
  border-radius: 12px;
  padding: 2px 5px;
  margin-left: 10px;
  vertical-align: middle;
  line-height: unset;
}
body {
  font-family: monospace;
  font-size: 16px;
}
